@import "reset.css";

.container{
    display: flex;
}
header{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 20px;
    background-color: #A6A15E;
}
body{
    background-color: #A6A15E;
}
#start-button{
    border-radius: 5px;
    position: relative;
    left: -150px;
    border: 4px solid #FCF7F8;
    margin: 15px auto;
    width: 100px;
    padding: 5px;
}

.scoreBoard{
    border-radius: 8px;
    border: 4px solid;
    margin: 20px auto;
    padding: 15px;
    width: 150px;
    text-align: center;
}

#start-button:hover{
    cursor: pointer;
    background-color: #FCF7F8;
    color: #061A40;
}

h3{
    margin: 0 auto;

}

.grid{
    border-radius: 4px;
    margin: 10px 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: #FFD6E0;
}

.grid > div{
    width: 20px;
    height: 20px;
}

.tetrimino{
    background-color: #dc143c;
}

.mini-grid{
    border-radius: 4px;
    margin: 10px auto 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFD6E0;
}

.mini-grid > div{
    width: 20px;
    height: 20px;

}

